
*.log
01_Submission_LaTeX/TheKremlinEffect_Paper.log
01_Submission_LaTeX/TheKremlinEffect_Paper.blg
01_Submission_LaTeX/TheKremlinEffect_Paper.out
01_Submission_LaTeX/TheKremlinEffect_Paper.synctex.gz
